

.navImg {
  border-radius: 30px;
  
}

.navPri {
  padding: 20px; 
}

.textN { 
  font-size: 50px;
}

li { 
  font-size: 20px; 
}


.names {
  display: grid; 
  word-spacing: nowrap 50px;
}

.iForm {
  display: flex; 
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

main {
  display: grid; 
  place-items:center;
}

#happyTrails {
  position: absolute;
  top: 0;
  left 0;
  width: 100%;
}
/* .nexTo { 
  display: flex; 
  flex: wrap;
} */


/* .range-primary {
  background-color: green!important;
  
} */


#toHide { 
  display:0;
}

.test {
  display: flex;
 justify-content: right;
}



@media only screen and (max-width: 600px) {
  .testy {
    flex-direction: row;
  }
}
