

.navImg {
  border-radius: 30px;
  
}

.navPri {
  padding: 20px; 
}

.textN { 
  font-size: 50px;
}

li { 
  font-size: 20px; 
}


.names {
  display: grid; 
  word-spacing: nowrap 50px;
}

.iForm {
  display: grid; 
  place-items:center;
}

main {
  display: grid; 
  place-items:center;
}
