<<<<<<< HEAD
body {
  width: 99vw;
  min-height: 100vh;
}

nav{
  z-index: 9999;
=======

body {
  min-height: 100vh;
  width: 99vw;
>>>>>>> baa63c6947307b484f47f33f7f882418507cdb1e
}

header {
  position: fixed;
  width: 100%
}

.navImg {
  border-radius: 30px;
  
}

body {
  min-height: 100vh; 
  background-image: url(/assets/img/bgImage.jpg) ;
}

.navPri {
  padding: 20px; 
}

.textN { 
  font-size: 50px;
}

li { 
  font-size: 20px; 
}


.names {
  display: grid; 
  word-spacing: nowrap 50px;
}

.iForm {
  display: flex; 
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

main {
  display: grid; 
  place-items:center;
}

#happyTrails {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  padding-top:0;
  padding-bottom: 10vh;
  background-color: black; 
  display: hidden;
  
}


/* .nexTo { 
  display: flex; 
  flex: wrap;
} */


/* .range-primary {
  background-color: green!important;
  
} */


footer {
  position:fixed; 
  bottom: 0;
  z-index: 1000;
}

#toHide { 
  display:0;
}

.test {
  display: flex;
  justify-content: right;
}


@media only screen and (max-width: 600px) {
  #happyTrails {
    grid-template-columns: repeat(1, minmax(0, 1fr));

  }
}

